<h1>点餐</h1>

<%= form_for @order_item, url: { controller: "orders", action: "create_item" } do |f| %>
  <div>  
    <%= f.select :product_id, Product.all.collect {|p| [ p.name, p.id ] }, { include_blank: "菜单" } %>
  
    <%= f.label "数量" %>
    <%= f.number_field :amount %>
  </div>
  <%= f.submit "创建" %>
<% end %>

<% @order.products.zip(@order.order_items).each do |product, order_item| %>
  <p><%= product.name %>*<%= order_item.amount %><%= link_to '删除', "/orders/#{order_item.order_id}/delete_item/#{order_item.id}", method: :delete %></p> 
<% end %>

<%= link_to '返回', orders_path %>